{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros%}

<h1 class="text-heading flex items-center text-5xl font-bold tracking-tight">Listado de cursos</h1>
<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <a href="/cursos/insertar" class="text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-xs px-3 py-1.5 focus:outline-none">Agregar nuevo</a>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="bg-neutral-secondary-soft border-b border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Descripción
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Maestro
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Asignar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Modificar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Detalles
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
          {% for cur in curso %}
            <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{cur.nombre}} 
                </th>
                <td class="px-6 py-3">
                    {{cur.descripcion}}
                </td>
                <td class="px-6 py-3">
                    {{ cur.maestro.nombre }} {{cur.maestro.apellidos}}
                </td>
                <td class="px-6 py-3">
                    <a href="/cursos/asignar?id={{ cur.id }}" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Asignar</a>
                </td>
                <td class="px-6 py-3">
                    <a href="/cursos/modificar?id={{ cur.id }}" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Modificar</a>
                </td>
                <td class="px-6 py-3">
                    <a href="/cursos/detalles?id={{ cur.id }}" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Detalles</a>
                </td>
                <td class="px-6 py-3">
                    <a href="/cursos/eliminar?id={{ cur.id }}" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}